.swiper-container {
    width: 100%;
}
.swiper1 {
    height: 700px;
}
.swiper2 {
    height: 400px;
    margin-top: 40px;
}
.section {
    margin: 80px auto 0 auto;
    width: 1200px;
}
.section-full {
    margin-top: 80px;
}
.section-title {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.title-img {
    margin-bottom: 10px;
}
.title-txt {
    font-size: 36px;
    color: #333333;
    margin-bottom: 10px;
    font-weight: bold;
}
.title-sub-chn {
    color: #333333;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 6px;
}
.title-sub-eng {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 12px;
    color: #969696;
}
.section-content {
    margin-top: 50px;
    font-size: 0;
}
.item {
    display: inline-block;
    font-size: 16px;
    width:380px;
    margin: 0 30px 30px 0;
    text-align: center;
    background-color: #fcfcfc;
}
.item:nth-child(3n) {
    margin-right: 0;
}
.item-title {
    font-size: 20px;
    color: #666;
    margin: 20px 0;
}
.item-img {
    width: 100%;
    height: 300px;
}
.item-img img {
    width: 100%;
    height: 100%;
}
.item-txt {
    color: #666;
    margin: 20px 10px;
    line-height: 25px;
    text-align: left;
}
.strong {
    color: #063C78;
    font-size: 18px;
}
.production {
    background-color: #fcfcfc;
    padding: 80px 40px 80px 40px;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
}
.slide-title{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .5);
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.left-txt, .right-img {
    float: left;
}
.left-txt {
    background-color: #fcfcfc;
    color: #666;
    font-size: 16px;
    width: 560px;
    height: 320px;
    padding: 60px 20px 20px 20px;
    line-height: 30px;
}
.right-img {
    width: 600px;
    height: 400px;
}
.news-item, .news-item-img, .news-item-txt {
    width: 50%;
    height: 300px;
    float: left;
    font-size: 16px;
}
.news-item-txt {
    width: calc(50% - 60px);
    padding: 0 30px;
    background-color: #fcfcfc;
}
.news-item-img img  {
    width: 100%;
    height: 100%;
}
.news-date {
    color: #666;
    font-size: 24px;
    margin-top: 60px;
}
.news-title {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}
.news-brief {
    font-family: '宋体';
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-top: 30px;
}